@model List<Factory>


    <h1 class="text-center">Fabrikalar</h1>
<a onclick="showInPopup('@Url.Action("Add","Factory",null,Context.Request.Scheme)','Fabrika Ekle')" type="button" class="btn btn-primary">Ekle<i class="fa-solid fa-plus"></i></a>
<br />
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fabrika Adı</th>
            <th scope="col">Eylemler</th>
        </tr>
    </thead>
    @foreach (var data in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@data.FactoryId</th>
                <td>@data.FactoryName</td>
                <td>
                    <a asp-action="details" asp-route-id="@data.FactoryId" type="button" class="btn btn-primary"><i class="far fa-eye"></i></a>
                    <a asp-action="update" asp-route-id="@data.FactoryId" type="button" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a asp-action="delete" asp-route-id="@data.FactoryId" type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        </tbody>
    }
</table>